/*Determinar las variables de las cajas*/

/*COLOR CAJA*/
$color1: #244F75;
$color2: #60BFBF;
$color3: #8C4B7E;
$color4: #F8BB44;
$color5: #F24B4B;

/*COLOR TIPOGRAFIA*/
$font-color:#fff;

// ESTILO TIPOGRAFIA
$font-family:'Lato',sans-serif;